/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	Author: Enrique Ramírez
	Autor URI: http://enrique-ramirez.com
*/

/* Imports */
@import url("reset.css");
@import url("pygment.css");
@import url("typogrify.css");
@import url(http://fonts.googleapis.com/css?family=Comfortaa);
@import url(http://fonts.googleapis.com/css?family=Karma:300);

/***** Global *****/
/* Body */
body {
    background-image:url('../img/bg.png'), url('../img/gradient.png'), url('../img/groovepaper.png');
    background-repeat: no-repeat, repeat-x, repeat;
    background-size: cover;
    background-attachment:fixed, fixed, scroll;
    background-position: center top, left top, left top;
    background-color: #FFF;
    font-family:  'Karma';
    font-size: 15px ;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
	font-family: 'Comfortaa';
	
}

h3, h4, h5, h6 { margin-top: .8em; }
	
hr { 
	border:none;
	border-bottom: 1px solid #DDD; 
}

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
    color: #618697;
    padding: 0 1px;
    text-decoration: underline;
}
a:hover, a:active {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 2px #618697,0px 0px 6px #618697;
}


h1 a:hover {
    text-shadow: .05em .05em .2em #999;
    background-color: inherit;
}
	
/* Paragraphs */
p {
	margin-bottom: 1.143em;

	padding: 0;
	text-align: justify;
}
p img {
	width:100%;
	margin: auto;
	text-align: center;
}
strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: rgba(97,134,151,0.5); color: #fff;}
::selection {background: rgba(97,134,151,0.5); color: #fff;}

/* Lists */
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

#featured .post-info, article:not(.hentry) .entry-content .post-info {
    margin:5px;
    padding:9px;
}

#featured .post-info *, article:not(.hentry) .entry-content .post-info * {
	display: inline;
}
#featured .post-info .taglist:before, article:not(.hentry) .entry-content .post-info .taglist:before {
    content: '— ';
}

.post-info p{
    margin-bottom: 1px;
    text-align: left; 
    padding: 0;
}


.readmore { float: right }

.comments { margin-top:2em; }

#sharing-tools 
{
	text-align: center;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre{background-color: #000; padding: 10px; color: #fff; margin: 10px; overflow: auto;}

/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}

q {}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}
	
	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}
	
	tbody .alt td {}
	tbody .alt th {}
	
	/* Tfoot */
	tfoot th {}
	tfoot td {}
	
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

article > p {
}

/***** Layout *****/
.body {
	clear: both; 
	margin: 0 auto;
	max-width: 800px;
	min-width: 200px;
	width: 80%;
}
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}

/*
	Header
*****************/
#banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}

	/* Banner */
	#banner h1 {font-size: 3.571em; line-height: 0;}
	#banner h1 a:link, #banner h1 a:visited {
		color: #000305;
		display: block;
		font-weight: bold;
		margin: 0 0 .6em .2em;
		text-decoration: none;
		width: 75%;
	}
	#banner h1 a:hover, #banner h1 a:active {
		background: none;
		color: #000000;
		text-shadow:0px 0px .1em #FFFFFF, 0px 0px .5em #74aac2;
		
	}
	
	#banner h1 strong {font-size: 0.36em; font-weight: normal;}
	
	/* Main Nav */
	#banner nav {
		background: #103010;
		font-size: 1.143em;
		height: 40px;
		line-height: 30px;
		margin: 0 auto 2em auto;
		padding: 0;
		text-align: center;
		width: 80%;
		border: solid 2px #000;
		opacity: .8;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	#banner nav ul {list-style: none; margin: 0 auto; width: 600px;}
	#banner nav li {float: left; display: inline; margin: 0 1px 0 0;}
	
	#banner nav a:link, #banner nav a:visited {
	
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		
		color: #fff;
		display: inline-block;
		height: 30px;
		padding: 2px 1.5em;
		text-decoration: none;
		border: solid 3px transparent;
	}
	#banner nav a:hover {
		background: #253c47;
		color: #fff;           
		text-shadow: #000;
		
		box-shadow: none; 
	}
	
	#banner nav .active a:link, #banner nav .active a:visited , #banner nav a:active{
		
		background: #618697;
		border: solid 3px #000;		box-shadow: inset 0px 0px .5em #000;
	}
	
	
	#banner nav li:first-child a {
		border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		
		border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
	}

/*
	Featured
*****************/
#featured {
	
    /*background: url("../img/toptop.png") no-repeat, url('../img/downdown.png') no-repeat;*/
    background-position: top,bottom,top;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px;
    width: 80%;
	
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	
	background-color:rgba(209,229,242,0.8);
	border-top: solid -5px transparent;
	border-left: solid 1px rgba(255,255,255,.4);
	border-right: solid 1px rgba(255,255,255,.4);
	}

#featured figure {
	border: 2px solid #eee;
	float: right;
	margin: 0.786em 2em 0 5em;
	width: 248px;
}
#featured figure img {display: block; float: right;}

#featured h2 {color: #253c47; font-size: 1.714em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}

#featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {color: #fff;}

/*
	Body
*****************/
#content {
	/*background: url("../img/toptop.png") no-repeat, url('../img/downdown.png') no-repeat;
	background-position: top,bottom,top;*/
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	width: 80%;
	
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;

	border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	
	background-color:rgba(209,229,242,0.8);
	border-top: solid 2px rgba(0,0,0,.8);
	border-right: solid 2px rgba(0,0,0,.8);
	border-bottom: solid 2px rgba(0,0,0,.8);
	border-left: solid 2px rgba(0,0,0,.8);
}

/*
	Extras
*****************/
#extras {margin: 0 auto 3em auto; overflow: hidden;}

#extras ul {list-style: none; margin: 0;}
#extras li {border-bottom: 1px solid #fff;}
#extras h2 {
	color: #000000;
	font-size: 1.429em;
	margin-bottom: .25em;
	padding: 0 3px;
}

#extras a:link, #extras a:visited {
	color: #444;
	display: block;
	border-bottom: 1px solid #f5e4e4;
	text-decoration: none;
	padding: .3em .25em;
}

#extras a:hover, #extras a:active {color: #fff;}

	/* Blogroll */
	#extras .blogroll {
		float: left;
		width: 70%;
	}
	
	#extras  li {float: left; margin: 0 20px 0 0; width: 190px;}
	
	/* Social */
	#extras .social {
		float: right;
		width: 30%;
	}
	
	#extras div[class='social'] a {
		background-repeat: no-repeat;
		background-position: 3px 6px;
		padding-left: 25px;
	}
	
		/* Icons */
		

		.social a[href*='facebook.com'] {background-image: url('../img/icons/facebook.png');
		background-size: 16px 16px; }
		.social a[href*='linkedin.com'] {background-image: url('../img/icons/linkedin.png');
		background-size: 16px 16px; }
		.social a[href*='play.google.com'] {background-image: url('../img/icons/googleplay.png');
		background-size: 16px 16px; }
		.social a[href*='academia.edu'] {background-image: url('../img/icons/academiaedu.png');
		background-size: 16px 16px; }
		.social a[href*='twitter.com'] {background-image: url('../img/icons/twitter.png');
		background-size: 16px 16px;  }
		.social a[href*='github.com'] {background-image: url('../img/icons/github.png');
		background-size: 16px 16px; }
		.social a[href*='stackoverflow.com'] {background-image: url('../img/icons/stackoverflow.png');
		background-size: 16px 16px; }
		.social a[href*='flickr.com'] {background-image: url('../img/icons/flickr.png');
		background-size: 16px 16px; }


/*
	About
*****************/
#about {
	background: #fff;
	font-style: normal;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	text-align: left;
	width: 80%;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#about .primary {float: left; width: 165px;}
#about .primary strong {color: #C64350; display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 5px 20px;}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; width: 500px;}

/*
	Footer
*****************/
#contentinfo {padding-bottom: 2em; text-align: right;}

/***** Sections *****/
/* Blog */
.hentry {
	display: block;
	clear: both;
	border-bottom: 1px solid #DDD;
	padding: 1.5em 0;
}
li:last-child .hentry, #content > .hentry {border: 0; margin: 0;}
#content > .hentry {padding: 1em 0;}
.hentry img{display : none ;}
.entry-title {font-size: 3em; margin-bottom: 10px; margin-top: 0;}
.entry-title a:link, .entry-title a:visited {text-decoration: none; color: #333;}
.entry-title a:visited {background-color: #fff;}

footer + p:first-letter {
	font-size: 3em;
	float: left;
	height:1em;
	margin-top: -.2em;
	padding: 0;
}

.hentry .post-info * {font-style: normal;}

	/* Content */
	.hentry footer 
	{
		width: 150px;
		margin: 0 2em 1em 0;
		padding: 5px;
		background: rgba(255,255,255,.5);
		box-shadow: 0 0 8px #FFF ;
	}
	footer .tag
	{
		padding-left: 16px;
		background: url('../img/tag.png') no-repeat left center;
	}
	.hentry footer address {display: inline;}
	.henthy .comment {
		margin-left: 0;
	}
	#posts-list footer address {display: block;}

	/* Blog Index */
	#posts-list {list-style: none; margin: 0;}
	#posts-list .hentry {position: relative;}
	
	#posts-list footer {
		left: 10px;
		position: relative;
        float: left;
		top: 0.5em;
		width: 190px;
	}
	
	/* About the Author */
	#about-author {
		background: #f9f9f9;
		clear: both;
		font-style: normal;
		margin: 2em 0;
		padding: 10px 20px 15px 20px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	#about-author strong {
		color: #C64350;
		clear: both;
		display: block;
		font-size: 1.429em;
	}
	
	#about-author .photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}
	
	/* Comments */
	#comments-list {list-style: none; margin: 0 1em;}
	#comments-list blockquote {
		background: #f8f8f8;
		clear: both;
		font-style: normal;
		margin: 0;
		padding: 15px 20px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	#comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}
	
	#comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}
	
	/* Add a Comment */
	#add-comment label {clear: left; float: left; text-align: left; width: 150px;}
	#add-comment input[type='text'],
	#add-comment input[type='email'],
	#add-comment input[type='url'] {float: left; width: 200px;}
	
	#add-comment textarea {float: left; height: 150px; width: 495px;}
	
	#add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}
	
	#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
	#add-comment * {margin-bottom: .5em;}